extends ../layout/layout.pug

block vars
    - var data_page = data.page_about

block header
    include ../layout/general/header
    |
    |
block content
    |
    |
    include ../layout/about/AboutLayout
    |
    |

block footer
    include ../layout/general/footer