extends ../layout/layout.pug

block vars
    - var data_page = data.page_home

block header
    include ../layout/general/header
    |
    |
block content
    |
    |
    include ../layout/home/Main
    |
    |

block footer
    include ../layout/general/footer