.aboutLayout.wrapper
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita asperiores libero suscipit non autem id! Quos amet maiores consectetur, rem fugiat tempore? Facere minima autem dicta impedit quos, minus aliquid!
    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero, dolorum numquam. Vitae impedit sit culpa ut nesciunt necessitatibus libero repellendus, ipsa quos nobis adipisci ab magni eos quasi corporis unde!
    p lorem ipsum dolor sit amet consectetur adipisicing elit.
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque nemo saepe aliquid, qui porro iste provident laboriosam, vitae blanditiis dignissimos asperiores est voluptas in voluptates? Doloremque accusantium dolorum praesentium soluta!