// list color
$color1: #ffff;
$color2: #e2e8f0;
$color3: #13131A;
$color4: #38bdf8;
$color5: #374151;
// end list color

// list font
$font1: "SFProRounded";
$font2: "RobotoSlab";
$font3: "SF-Pro-Display";
// end list font
