// header
header.wrapHeader
    .wrapper
        h2.heading Pug Gulp Starter
        p.desc Starter code for your Pug Gulp Boilerplate with SCSS
        ul.headerNavList
            each item in data.header.menu
                li.headerNavItem
                    a(href= item.link)= item.title 
// end header